# ignore all the .exe files in the ADT folder
ADT/*.exe
Linked List/*.exe
Stacks/*.exe
Lab Programs/lab1/*.exe
Lab Programs/lab2/*.exe
Queues/*.exe
Linked List/Problems/*.exe
C++ DSA/*.exe
Sorting/*.exe